/*=================================================================================
 *
 *   重置系统默认样式
 *
 *=================================================================================*/
*, *:before, *:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    overflow: auto;
    font: 12px "Microsoft Yahei", Arial, "Simsun", serif, sans-serif;
    -webkit-font-smoothing: antialiased;
}
html{
    overflow-x: hidden;
    overflow-y: hidden;
    width: calc(100vw);
}

body{
    overflow:hidden;
    min-width:1280px;
}

/* = 1280 */
@media (min-width: 1280px){
    html{
        overflow-x: hidden;
    }
}

/* < 1280 */
@media (max-width: 1279px){
    html{
        overflow:hidden;
    }
    body{
        width:1280px;
    }
}


#opa {
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

/* 内容主体样式 */
.maintain{
    margin:0 auto;
    width:1280px;
}

#body{
    /*outline: 1px solid #f00;debug*/
    min-height: 500px;
    margin-bottom: 20px
}

/* 默认背景色 */
.bgc-default{
    background-color: #49525b;
}

/* 亮色背景、一级工具栏的背景色 */
.bgc-light, .vmp-toolbar, .toolbar-bgc-1{
    background-color: #17c1c5;
}

/* 暗色背景、二级工具栏的背景色 */
.bgc-dark, .vmp-subtoolbar, .toolbar-bgc-2{
    background-color: #3C434A;
}

/* 一级工具条的样式 */
.vmp-toolbar{
    height: 44px;
}
.vmp-toolbar > ul{
    padding:0 5px;
}
.vmp-toolbar li.btn{
    min-width:68px;
    height:44px;
    line-height: 30px;
    text-align: left;
    letter-spacing: 1px;
    color:#fff;
    background-color: transparent;
    border-color: transparent;
}
.vmp-toolbar li.btn:hover{
    color:#fff;
    background-color: #00bf02;
}
.vmp-toolbar li.btn.active,
.vmp-toolbar li.btn:active{
    color:#fff;
    background-color: #000;
}
/*带图标的按钮*/
.vmp-toolbar li.btn-icon{
    min-width:98px;
    background-repeat: no-repeat;
    background-position: 15px 50%;
}

/* 二级工具条的样式 */
.vmp-subtoolbar{
    height: 36px;
    color:#fff;
}
.vmp-subtoolbar > ul{
    padding:5px 5px 5px 10px;
}
.vmp-subtoolbar > ul > li {
    display:inline-block;
}
.vmp-subtoolbar li.separator{
    display: inline-block;
    width:4px;
    height: 4px;
    border-radius: 2px;
    background-color: #49525b;
    vertical-align: middle;
}
.vmp-subtoolbar li.btn{
    height:26px;
    min-height: 26px;
    line-height: 22px;
    display:inline-block;
    min-width: 60px;
    padding-top:0;
    border-radius: 3px;
    background-color:transparent;
    border-color: transparent;
}
.vmp-subtoolbar li.btn:hover{
    color:#fff;
    background-color: #17c1c5;
}
.vmp-subtoolbar li.btn.active,
.vmp-subtoolbar li.btn:active{
    color:#fff;
    background-color: #3c434a;
}
.vmp-subtoolbar li.btn.disabled,
.vmp-subtoolbar li.btn[disabled]{
    color:#7f7f7f;
    background-color: transparent;
    cursor: default;
}
.vmp-subtoolbar li.btn-icon{
    min-width: 80px;
    background-repeat: no-repeat;
    background-position: 10px 50%;
}

/* 给面板用的工具条样式 */
.vmp-panel-toolbar{
    height: 37px;
    background-color: #3c434a;
    color: #fff;
}
.vmp-panel-toolbar > ul{
    padding:6px 5px 8px 10px;
}
.vmp-panel-toolbar > ul > li {
    display:inline-block;
}
.vmp-panel-toolbar li.separator{
    display: inline-block;
    width:4px;
    height: 4px;
    border-radius: 2px;
    background-color: #49525b;
    vertical-align: middle;
}
.vmp-panel-toolbar li.btn{
    height: 26px;
    min-height: 26px;
    line-height: 19px;
    display:inline-block;
    min-width: 60px;
    padding-top:1px;
    background-color: #3c434a;
    border-color: #3c434a;
    border-radius: 1px;
}
.vmp-panel-toolbar li.btn:hover{
    color:#fff;
    background-color: #17c1c5;
    /* border-color: #17c1c5;*/
}
.vmp-panel-toolbar li.btn.active,
.vmp-panel-toolbar li.btn:active{
    color:#fff;
    background-color: #3c434a;
    border-color: #3c434a;
}
.vmp-panel-toolbar li.btn.disabled,
.vmp-panel-toolbar li.btn[disabled]{
    color: #7f7f7f;
    background-color: transparent;
    cursor: default;
}
.vmp-panel-toolbar li.btn-icon{
    min-width: 80px;
    background-repeat: no-repeat;
    background-position: 10px 50%;
}

/*带下拉箭头的按钮*/
.vmp-toolbar li.btn-arrow,
.vmp-subtoolbar li.btn-arrow,
.vmp-panel-toolbar li.btn-arrow{
    padding-right: 20px;
    position:relative;
}
.vmp-toolbar li.btn-arrow:after,
.vmp-subtoolbar li.btn-arrow:after,
.vmp-panel-toolbar li.btn-arrow:after{
    content: '';
    display: inline-block;
    position: absolute;
    background:url("./img/icon/dropdown-arrow.png") no-repeat;
    right:3px;
    top:50%;
    margin-top:-2px;
    width: 12px;
    height:7px;
}

.sim-link{
    color: #00f;
    cursor: pointer;
    border-radius: 0;
    text-decoration: none;
}
.sim-link:hover{
    color: #f00;
    text-decoration: underline;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
