.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.circle{
    border-radius: 50% 50%;
}

.unselectable{
    user-select:none;
    -o-user-select:none;
    -ms-user-select:none;
    -moz-user-select:-moz-none;
    -webkit-user-select:none;
    cursor:default;
}

.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}
.clearfix:after {
    clear: both;
}

.hand {
    cursor: pointer;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/*去掉number输入框后面的样式*/
input[type=number] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}