html, body {
    display:block;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow:hidden;
}
body {
    background: rgb(73, 82, 91);
    font-family:"Microsoft Yahei", Arial, "Simsun", sans, sans-serif;
}

.broken-browser{
    background-repeat: repeat;
}

.bg {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 290px;
    margin-top: -145px;
    background: rgb(60, 67, 74);
}

#container {
    width: 888px;
    height: 380px;
    position:absolute;
    z-index:9;
    top:50%;
    left:50%;
    margin: -190px 0 0 -444px;
    background: #fafafa;
}

#left-content{
    float:left;
    width: 496px;
    height: 380px;
    padding:6px 6px 5px 6px;
    background: url("./img/map.png") no-repeat center;
}


#right-content {
    width: 392px;
    padding: 46px;
    height: 380px;
    float: left;
}

#right-content input{
    display:block;
}

#user_name,
#password {
    height: 34px;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 8px;
    border: solid 1px #eee;
    border-radius:3px;
    color: #666;
    background-color: #fafafa;
    font-size: 14px;
}

input::-webkit-input-placeholder {
    color: #999;
}
input:-moz-placeholder {
    color: #999;
}
input::-moz-placeholder {
    color: #999;
}
input:-ms-input-placeholder{
    color: #999;
}

#login {
    height: 38px;
    width: 300px;
    background-position: 4px 6px;
    border: none;
    background-color: rgb(23, 189, 193);
    color: #FFF;
    border-radius:3px;
    font-size: medium;
}

#login:hover{
    background-color: rgb(23, 189, 193);
}

#login:active{
    background-color: rgb(23, 189, 193);
}

#login[disabled]{
    background-color: #E1E1E1;
}

#logo {
    width: 100%;
    height: 60px;
    background: url("./img/it_logo.png") no-repeat;
    position: absolute;
    top: -70px;
}

#title{
    position:relative;
    width: 250px;
    height: 56px;
    margin-bottom: 56px;
    background: url("./img/logo_text.png") no-repeat center;
}

#top-text {
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    color: #FFFFFF;
    padding: 12px 0 0 12px;
    margin:0
}

#bottom-text {
    font-style: normal;
    font-weight: normal;
    font-size: 0.7em;
    color: #FFFFFF;
    padding: 5px 0 12px 12px;
    margin:0

}

#caplock-message{
    color:#333;
    text-align:left;
    line-height: 34px;
    font-size: 12px;
    margin-bottom: 8px;
}

#login-fail-message{
    color: #F00;
    text-align: left;
    line-height: 34px;
    font-size: 12px;
    margin-bottom: 8px;
}

#ft-copyright {
    bottom: 0;
    position: absolute;
    color: white;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    clear: both;
    font-size: 12px;
}

#ft-copyright:after {
    content: '\7248\6743\6240\6709\20\a9\20\32\30\31\35\2d\32\30\31\37\20\6df1\4fe1\670d\79d1\6280\80a1\4efd\6709\9650\516c\53f8\20';
}


/*for browser*/
.brw-update{ padding: 5px; background: #ffde74; overflow: hidden; width: 480px; position:absolute;top:5px;left:5px;z-index: 999999;}
.brw-update p{padding: 0px;margin: 10px;}
.brw-update ol{ list-style: none; overflow: hidden; padding: 5px;}
.brw-update li{ display: block; float: left;  margin-right: 8px; height: 24px; line-height: 24px; border: 1px solid #ddd; background: #FFF;}
.brw-update a{ text-decoration: none;padding-left: 24px;background-color: #eee; padding-right: 12px; height: 24px; display: block; color: #09f; background-repeat: no-repeat; background-position: 4px 4px;}
.brw-update a:hover{ background-color: #f9f9f9;}
.brw-update a:active{ background-color: #fff;}
.brw-update .cr{ background-image: url("img/cr.png");}
.brw-update .ff{ background-image: url("img/ff.png");}
.brw-update .ie{ background-image: url("img/ie.png");}
